#circle{
    width: 10em;
    height: 10em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
    overflow-y: scroll;
}